<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
        <a href="/views/pages/index.ejs">Pixelspace</a>
        <a href="/views/pages/timelapse.ejs">Timelapse</a>
      </li>
    </ul>
  </div>
</nav>
