<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pixelspace</h1>
    <p>Create neat art with your friends, and with every other kind person on the internet!</p>
    <div id="pixelbox"></div>
</div>
<div class="container">
  <p>pixel box</p>
  <p>Submit new pixel</p>
  <form action="/add">
    X: <input type="number" min="0" max="255" name="x"><br/>
    Y: <input type="number" min="0" max="255" name="y"><br/>
    RGBA: <input type="number" min="0" max="255" step="1" name="r">
          <input type="number" min="0" max="255" step="1" name="g">
          <input type="number" min="0" max="255" step="1" name="b">
          <input type="number" min="0" max="1.0" step="0.01" value="1.0" name="a"><br/>
    Username: <input type="text" name="username" value="anonymous">
    <input type="submit" value="Submit">
  </form>
</div>


</body>
</html>
