<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pixelspace</h1>
    <p>Create neat art with your friends, and with every other kind person on the internet!</p>
</div>
<div class="container">
  <p>pixel box</p>
  <p>Submit new pixel</p>
  <p>(form)</p>
  <p>x: (0-255)</p>
  <p>y: (0-255)</p>
  <p>name: (anonymous)</p>
  <p>RGBA: (255, 255, 255, 1.0)</p>
</div>


</body>
</html>
