<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pixelspace</h1>
    <p>Create neat art with your friends, and with every other kind person on the internet!</p>
    <div id="pixelbox"></div>
</div>
<div class="container">
  <table>
    <% for(var y=0; y<101; y++) { %>
      <tr>
          <% for(var x=0; x<101; x++) { %>
              <td id="<%= 'x' + x.toString() + 'y' + y.toString() %>" title="<%= '' + x.toString() + ':' + y.toString() %>"></td>
           <% } %>
      </tr>
    <% } %>
  </table>
  <br>
  <!-- <button type="button" class="btn btn-primary" onclick="refresh()">Refresh</button> -->
  
  <p>Submit new pixel</p>
  <form action="javascript:create_new()">
    X: <input id="form-x" type="number" min="0" max="100" placeholder="0-100" name="x"> 
    Y: <input id="form-y" type="number" min="0" max="100" placeholder="0-100" name="y"><br/>
    RGB: <input id="form-r" type="number" min="0" max="255" step="1" placeholder="0-255" name="r">
          <input id="form-g" type="number" min="0" max="255" step="1" placeholder="0-255" name="g">
          <input id="form-b" type="number" min="0" max="255" step="1" placeholder="0-255" name="b">
          <input id="form-a" type="hidden" min="0" max="1.0" step="0.01" value="1.0" name="a"><br/>
    Username: <input id="form-name" type="text" name="username" value="anonymous"> <br/>
    <input class="btn btn-success" type="submit" value="Submit">
  </form>


  <script>setup();</script>
</div>

</body>
</html>
