<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Pixelspace</h1>
    <p>Create neat art with your friends, and with every other kind person on the internet!</p>
    <div id="pixelbox"></div>
</div>
<div class="container">
  <table>
    <% for(var y=0; y<101; y++) { %>
      <tr>
          <% for(var x=0; x<101; x++) { %>
              <td id="<%= 'x' + x.toString() + 'y' + y.toString() %>" title="<%= '' + x.toString() + ':' + y.toString() %>"></td>
           <% } %>
      </tr>
    <% } %>
  </table>
  <br>
  <button type="button" class="btn btn-primary" onclick="timelapseRefresh()">Refresh</button>


  <script>timelapse();</script>
</div>

</body>
</html>